/*----------------
    Media info
----------------*/

#mpris {
	padding: 0 12px;
}

/*------------
    Volume
------------*/

#custom-left_div.6 {
	color: @volume;
}
#pulseaudio,
#wireplumber {
	background-color: @volume;
}

/*----------------
    Taskbar
----------------*/

#custom-left_div.7 {
	background-color: @volume;
	color: @taskbar;
}
#taskbar {
	background-color: @taskbar;
	padding-left: 3px;
	padding-right: 6px;
}
#taskbar button {
	background: transparent;
	border-radius: 10px;
	padding: 0 4px;
}
#taskbar button.active {
	background: @surface_container_highest;
}
#taskbar button:hover {
	background: @surface_container_highest;
}

/*-------------
    Battery
-------------*/

#custom-left_div.8 {
	background-color: @taskbar;
	color: @battery;
}
#battery {
	background-color: @battery;
}
#custom-no-battery {
	background-color: @battery;
}
#custom-no-battery.no-battery {
	padding-left: 6px;
	padding-right: 9px;
}
#custom-left_inv.2 {
	color: @battery;
}

/*----------------
    Power menu
----------------*/

#custom-power {
	border-radius: 16px;
	padding: 0 19px 0 16px;
	color: @accent;
}
#custom-power:hover {
	background-color: @hover-bg;
}
