@import "colors.css";

:root {
	--width: 450px;
}

* {
	font-family: "CommitMono Nerd Font";
	box-shadow: none;
	text-shadow: none;
	outline: none;
}

.control-center {
	background-color: alpha(@surface, 0.9);
	border: 1px solid @surface_dim;
	border-radius: 15px;
	padding: 28px;
	min-width: 380px;
}

.widget-title {
	background: transparent;
	border: none;
	padding: 4px 6px 12px 6px;
	margin-bottom: 8px;
}
.widget-title label {
	font-size: 16px;
}
.widget-title button {
	background: @surface_bright;
	border: none;
	border-radius: 10px;
	padding: 7px 16px;
	transition: background-color 0.15s ease;
}
.widget-title button:hover,
.widget-title button:active {
	background: @surface_bright;
}

@import "styles/mpris.css";
@import "styles/sliders.css";
@import "styles/grid.css";
@import "styles/notification-center.css";
@import "styles/notifications.css";
