@import "colors.css";

* {
	font-family: "CommitMono Nerd Font";
	box-shadow: none;
	text-shadow: none;
	outline: none;
}

.control-center {
	background-color: alpha(@surface, 0.9);
	border: 1px solid @surface_dim;
	border-radius: 15px;
	padding: 28px;
	min-width: 380px;
}

/* .widget-mpris, */
.widget-volume,
.widget-backlight,
.widget-buttons-grid
	.control-center-list
	> box
	> *:not(.widget-title) {
	background-color: @surface_container_high;
	border-radius: 18px;
	padding: 18px;
	margin-bottom: 14px;
	border: 1px solid @surface_dim;
}

.widget-volume,
.widget-backlight {
	padding: 14px 18px;
}
.widget-buttons-grid {
	padding: 12px;
}
.control-center > box > *:last-child {
	margin-bottom: 0;
}

.widget-title {
	background: transparent;
	border: none;
	padding: 4px 6px 12px 6px;
	margin-bottom: 8px;
}
.widget-title button {
	background: @surface_bright;
	border: none;
	border-radius: 10px;
	padding: 7px 16px;
	transition: background-color 0.15s ease;
}
.widget-title button:hover,
.widget-title button:active {
	background-color: @surface_tint;
}

@import "styles/mpris.css";
@import "styles/sliders.css";
@import "styles/grid.css";
@import "styles/notification-center.css";
@import "styles/notifications.css";
