* {
	--control-center-width: calc(450px - 2 * 28px);
}

.widget-buttons-grid {
	--button-padding-height: 12px;
	--button-padding-width: 18px;
	--button-size: 24px;
	--button-total-width: calc(
		var(--button-size) + var(--button-padding-width)
	);
	margin-left: 0;
	margin-right: 0;
}

.widget-buttons-grid flowboxchild {
	padding: 0;
	margin-left: 6px;
}

.widget-buttons-grid .text-button {
	padding: var(--button-padding-height)
		var(--button-padding-width);
	min-width: var(--button-size);
	min-height: var(--button-size);
}

.widget-buttons-grid flowboxchild:first-child .text-button {
	min-width: calc(
		var(--control-center-width) - 4 *
			var(--button-total-width)
	);
	background: none;
	padding: 0;
}

.widget-buttons-grid flowboxchild:first-child:hover {
	background: none;
}
