scale trough highlight {
	background-color: @primary;
	transition: background-color 0.15s ease;
}

scale trough slider {
	background-color: @primary;
	outline: 4px solid @surface_container_high;
	outline-offset: 0px;
}
